{% extends "commerce/layout.html" %}

{% block title %}GameOn: Login{% endblock title %}
{% block body %}
<link rel="stylesheet" href="./style.css" />
    <div class="home-pageecommerce1-container">
        <div class="home-pageecommerce1-home-pageecommerce">
            <div class="home-pageecommerce1-codiconaccount"></div>
            <div class="home-pageecommerce1-topbanner">
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/f9123728-bf57-4d96-b28e-8f55d8dd4cd8?org_if_sml=1310358&amp;force_format=original"
                     alt="Rectangle4svg9325"
                     class="home-pageecommerce1-rectangle4svg" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/b6e30e3c-9feb-4187-89d4-a3fcf2c4af9a?org_if_sml=184644&amp;force_format=original"
                     alt="Rectangle5svg9326"
                     class="home-pageecommerce1-rectangle5svg" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/f7131433-be27-417e-b3d6-f3d9a23d5897?org_if_sml=170496&amp;force_format=original"
                     alt="Rectangle6svg9327"
                     class="home-pageecommerce1-rectangle6svg" />
            </div>
            <div class="home-pageecommerce1-snphm1">
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/81581339-ecfd-4884-b250-6bd06b08370b?org_if_sml=1530&amp;force_format=original"
                     alt="Rectangle71432"
                     class="home-pageecommerce1-rectangle7" />
                <span class="home-pageecommerce1-text">
                    <span>SẢN PHẨM BÁN CHẠY</span>
                </span>
                <span class="home-pageecommerce1-text02">
                    <span>Xem tất cả</span>
                </span>
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/f74b8865-bb59-4015-bea2-a3e589943728?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle81438"
                     class="home-pageecommerce1-rectangle8" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/17e2f3c8-4486-4cc2-8e33-dc93a6121b1b?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle101440"
                     class="home-pageecommerce1-rectangle10" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/8705b224-9fb4-4b03-b08d-42b2c4121fab?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle121442"
                     class="home-pageecommerce1-rectangle12" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/0637d3c0-4989-49a4-8d52-6df50e1c93c9?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle91439"
                     class="home-pageecommerce1-rectangle9" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/cc97f8b3-ba40-41f4-9247-9327d40f91ae?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle111441"
                     class="home-pageecommerce1-rectangle11" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/b09d197e-7f57-4b9a-ae3c-cb6541c61b0d?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle131443"
                     class="home-pageecommerce1-rectangle13" />
            </div>
            <div class="home-pageecommerce1-snphm2">
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/21016ce0-be0a-419a-81e0-31c1fc130972?org_if_sml=1530&amp;force_format=original"
                     alt="Rectangle71450"
                     class="home-pageecommerce1-rectangle71" />
                <span class="home-pageecommerce1-text04">
                    <span>SẢN PHẨM MỚI RA MẮT</span>
                </span>
                <span class="home-pageecommerce1-text06">
                    <span>Xem tất cả</span>
                </span>
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/6e1f5410-9066-43ef-b417-f794639a47e7?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle81453"
                     class="home-pageecommerce1-rectangle81" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/e5eaaa5c-1474-4e2f-b312-db6e635c19dd?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle101454"
                     class="home-pageecommerce1-rectangle101" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/de6e0bad-726b-42b2-89d9-1769e8fed926?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle121455"
                     class="home-pageecommerce1-rectangle121" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/a9fc8a12-33c5-48cf-839a-9342a9bba1b6?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle91456"
                     class="home-pageecommerce1-rectangle91" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/efae647b-2f59-40f9-bff9-be6bda3f8aef?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle111457"
                     class="home-pageecommerce1-rectangle111" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/68cea015-b9e6-40f7-b1bd-df3ce14e53e5?org_if_sml=1636&amp;force_format=original"
                     alt="Rectangle131458"
                     class="home-pageecommerce1-rectangle131" />
            </div>
            <div class="home-pageecommerce1-mitn1">
                <img src="public/external/arrow1button1445-o9m3.svg"
                     alt="Arrow1button1445"
                     class="home-pageecommerce1-arrow1button" />
                <img src="public/external/arrow2button1447-hhp.svg"
                     alt="Arrow2button1447"
                     class="home-pageecommerce1-arrow2button" />
            </div>
            <div class="home-pageecommerce1-mitn2">
                <img src="public/external/arrow1button1460-8jik.svg"
                     alt="Arrow1button1460"
                     class="home-pageecommerce1-arrow1button1" />
                <img src="public/external/arrow2button1461-0lqx.svg"
                     alt="Arrow2button1461"
                     class="home-pageecommerce1-arrow2button1" />
            </div>
            <div class="home-pageecommerce1-snphmbybn">
                <div class="home-pageecommerce1-snphmnibt">
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/ccdc76e3-59f3-4fbb-8244-fa47a1daa4ad?org_if_sml=1530&amp;force_format=original"
                         alt="Rectangle71464"
                         class="home-pageecommerce1-rectangle72" />
                    <span class="home-pageecommerce1-text08">
                        <span>SẢN PHẨM BÀY BÁN</span>
                    </span>
                    <span class="home-pageecommerce1-text10">
                        <span>Xem tất cả</span>
                    </span>
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/1dafc679-a140-4dcf-9eec-f64526af58cb?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle81467"
                         class="home-pageecommerce1-rectangle82" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/4890a3d3-468b-46ac-b5c4-1c67bf0d69f4?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle141476"
                         class="home-pageecommerce1-rectangle14" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/092d6eaa-c905-4699-a11b-053bc21c3dc5?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle201493"
                         class="home-pageecommerce1-rectangle20" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/98f512c1-c192-47e2-8286-cbb342ce50d1?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle211494"
                         class="home-pageecommerce1-rectangle21" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/55ec93f3-7f38-4573-838a-d069f81adfdf?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle221495"
                         class="home-pageecommerce1-rectangle22" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/85452fec-ee73-4e00-b831-e9218e179fa5?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle231496"
                         class="home-pageecommerce1-rectangle23" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/d9a4c30c-2236-448b-b695-a487780804e7?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle241497"
                         class="home-pageecommerce1-rectangle24" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/8001c82a-1f19-440e-b628-f58245d5ecea?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle251498"
                         class="home-pageecommerce1-rectangle25" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/3e0ddf2c-6512-4aac-9ee8-7ff7c225da6c?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle151488"
                         class="home-pageecommerce1-rectangle15" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/a83c64ad-7265-45e5-a563-7c74b6d87065?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle161489"
                         class="home-pageecommerce1-rectangle16" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/d1f4e72b-f9ce-4c7a-9f2b-3a0fd2113498?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle171490"
                         class="home-pageecommerce1-rectangle17" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/0227a5ef-280e-4422-b292-2cf4e673b709?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle181491"
                         class="home-pageecommerce1-rectangle18" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/fafb510c-9e5f-4621-bb13-565f14009c1e?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle191492"
                         class="home-pageecommerce1-rectangle19" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/b42afe90-bcf4-40f1-b5e5-bfd5b74304d8?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle101468"
                         class="home-pageecommerce1-rectangle102" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/29bffcfa-ddda-4407-b684-611147d1b372?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle121469"
                         class="home-pageecommerce1-rectangle122" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/47a62f74-696f-4308-ba30-fda6463ce470?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle91470"
                         class="home-pageecommerce1-rectangle92" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/81cf3e9a-1ac7-4cca-8c0d-6a5b27c9ef4a?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle111471"
                         class="home-pageecommerce1-rectangle112" />
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/13b098ff-f7d1-4d72-a2ed-800b25cf99de?org_if_sml=1636&amp;force_format=original"
                         alt="Rectangle131472"
                         class="home-pageecommerce1-rectangle132" />
                </div>
                <div class="home-pageecommerce1-mitn3">
                    <img src="public/external/arrow1button1474-83sd.svg"
                         alt="Arrow1button1474"
                         class="home-pageecommerce1-arrow1button2" />
                    <img src="public/external/arrow2button1475-11f.svg"
                         alt="Arrow2button1475"
                         class="home-pageecommerce1-arrow2button2" />
                </div>
            </div>
            <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/83d86a1d-084d-409e-b1d0-f0ab006fa26f?org_if_sml=1240588&amp;force_format=original"
                 alt="Bannersvg1462"
                 class="home-pageecommerce1-bannersvg" />
            <div class="home-pageecommerce1-cngng">
                <div class="home-pageecommerce1-snphmnibt1">
                    <span class="home-pageecommerce1-text12">
                        <span>CỘNG ĐỒNG</span>
                    </span>
                    <span class="home-pageecommerce1-text14">
                        <span>Xem tất cả</span>
                    </span>
                </div>
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/fae9e536-8e86-4e32-bbe1-e06b9f0d6654?org_if_sml=11281&amp;force_format=original"
                     alt="Rectangle261411"
                     class="home-pageecommerce1-rectangle26" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/55dd99ea-966b-4cf4-907c-e8827dd7497e?org_if_sml=11281&amp;force_format=original"
                     alt="Rectangle271411"
                     class="home-pageecommerce1-rectangle27" />
            </div>
            <div class="home-pageecommerce1-footer">
                <img src="public/external/logosyoutubeicon1411-p4hn.svg"
                     alt="logosyoutubeicon1411"
                     class="home-pageecommerce1-logosyoutubeicon" />
                <div class="home-pageecommerce1-skilliconsinstagram">
                    <div class="home-pageecommerce1-group">
                        <img src="public/external/vector1411-8w2c.svg"
                             alt="Vector1411"
                             class="home-pageecommerce1-vector" />
                        <img src="public/external/vector1411-25eq.svg"
                             alt="Vector1411"
                             class="home-pageecommerce1-vector1" />
                        <img src="public/external/vector1412-eh8g.svg"
                             alt="Vector1412"
                             class="home-pageecommerce1-vector2" />
                    </div>
                </div>
                <img src="public/external/logosfacebook1412-dwyk.svg"
                     alt="logosfacebook1412"
                     class="home-pageecommerce1-logosfacebook" />
                <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/a8d04bf3-5794-4fe0-8288-84fa26b2124f?org_if_sml=111001&amp;force_format=original"
                     alt="Rectangle11412"
                     class="home-pageecommerce1-rectangle1" />
                <img src="public/external/rectangle21412-788.svg"
                     alt="Rectangle21412"
                     class="home-pageecommerce1-rectangle2" />
                <img src="public/external/rectangle31412-jx8.svg"
                     alt="Rectangle31412"
                     class="home-pageecommerce1-rectangle3" />
                <span class="home-pageecommerce1-text16">
                    <span>GIỚI THIỆU</span>
                </span>
                <span class="home-pageecommerce1-text18">
                    <span>HỖ TRỢ KHÁCH HÀNG</span>
                </span>
                <span class="home-pageecommerce1-text20">
                    <span>HÌNH THỨC THANH TOÁN</span>
                </span>
                <span class="home-pageecommerce1-text22">
                    <span>Hướng dẫn mua hàng trực tuyến</span>
                </span>
                <span class="home-pageecommerce1-text24">
                    <span>Hướng dẫn thanh toán</span>
                </span>
                <span class="home-pageecommerce1-text26">
                    <span>Giới thiệu về công ty</span>
                </span>
                <span class="home-pageecommerce1-text28">
                    <span>Thông tin liên hệ</span>
                </span>
                <span class="home-pageecommerce1-text30">
                    <span>Thông tin tuyển dụng</span>
                </span>
            </div>
            <div class="home-pageecommerce1-header">
                <div class="home-pageecommerce1-frame1">
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0fc5b8f2-7cb7-4ae3-9a4e-18972ba7adf3/6d78e478-d6ab-4533-94ec-c5eb3a849a22?org_if_sml=1123&amp;force_format=original"
                         alt="logo18233"
                         class="home-pageecommerce1-logo1" />
                    <div class="home-pageecommerce1-content">
                        <div class="home-pageecommerce1-frame-magnifyingglass">
                            <span class="home-pageecommerce1-text32"><span>􀊫</span></span>
                        </div>
                        <span class="home-pageecommerce1-text34">
                            <span>Tìm kiếm sản phẩm</span>
                        </span>
                    </div>
                    <div class="home-pageecommerce1-mingcutenotificationfill">
                        <div class="home-pageecommerce1-group1">
                            <img src="."
                                 alt="Vector8239"
                                 class="home-pageecommerce1-vector3" />
                            <img src="public/external/vector8240-3if.svg"
                                 alt="Vector8240" />
                        </div>
                    </div>
                    <div class="home-pageecommerce1-eva-shopping-cart-outline0">
                        <div class="home-pageecommerce1-eva-shopping-cart-outline1">
                            <div class="home-pageecommerce1-eva-shopping-cart-outline2">
                                <img src="public/external/vector8244-qqiq.svg"
                                     alt="Vector8244"
                                     class="home-pageecommerce1-vector5" />
                                <img src="public/external/vector8245-hxm.svg"
                                     alt="Vector8245"
                                     class="home-pageecommerce1-vector6" />
                                <img src="public/external/vector8246-z9ql.svg"
                                     alt="Vector8246"
                                     class="home-pageecommerce1-vector7" />
                            </div>
                        </div>
                    </div>
                    <img src="public/external/vector8247-99pj.svg"
                         alt="Vector8247"
                         class="home-pageecommerce1-vector8" />
                </div>
                <div class="home-pageecommerce1-navbar10">
                    <div class="home-pageecommerce1-frame29">
                        <div class="home-pageecommerce1-group44">
                            <div class="home-pageecommerce1-group5">
                                <div class="home-pageecommerce1-frame15">
                                    <span class="home-pageecommerce1-text36 TextB"></span>
                                    <div class="home-pageecommerce1-iconpack"></div>
                                </div>
                            </div>
                            <img src="public/external/vector4i825-pgfw.svg"
                                 alt="Vector4I825"
                                 class="home-pageecommerce1-vector4" />
                        </div>
                        <div class="home-pageecommerce1-group4">
                            <div class="home-pageecommerce1-frame151">
                                <span class="home-pageecommerce1-text37 TextB">
                                    <span>Danh mục sản phẩm</span>
                                </span>
                                <img src="public/external/iconpacki825-be9u.svg"
                                     alt="IconpackI825"
                                     class="home-pageecommerce1-iconpack1" />
                            </div>
                        </div>
                        <span class="home-pageecommerce1-text39 TextB">
                            <span>Cộng đồng</span>
                        </span>
                    </div>
                    <div class="home-pageecommerce1-iconpack2"></div>
                </div>
                <span class="home-pageecommerce1-text41 TextB">
                    <span>Trang chủ</span>
                </span>
                <span class="home-pageecommerce1-text43">Về chúng tôi</span>
                <span class="home-pageecommerce1-text44">Liên hệ</span>
                <img src="public/external/gameonremovebgpreview18254-p7g-300h.png"
                     alt="GAMEONremovebgpreview18254"
                     class="home-pageecommerce1-gameo-nremovebgpreview1" />
            </div>
        </div>
    </div>
{% endblock body %}