{% extends 'commerce/layout.html' %}

{% block title %}
    GameOn: HomePage
{% endblock %}

{% block body %}
    <div id="item_list">
        {% for item in items %}
            <a href="{% url 'view_item' item.id %}">
                <div class="item">
                    <div class="image_container"><img src={{item.image_URL}} alt={{item.name}} class="item_img"></div>
                    <p class="item_name">{{item.name}}</p> <br>
                    <span class="item_price">{{item.price}} VND</span>
                </div>  
            </a>
        {% endfor %}
    </div>
    <hr>
    <div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            {% if items.has_previous %}
            <li class="page_item">
                <a class="page-link" href="?page=1">&laquo; First</a>
            </li>
            <li class="page_item">
                <a class="page-link" href="?page={{items.previous_page_number}}">{{items.previous_page_number}}</a>
            </li>
            {% endif %}
            <li class="page_item active">
                <a class="page_link" href="?page={{items.number}}">{{items.number}}</a>
            </li>
            {% if items.has_next %}
            <li class="page_item">
                <a class="page_link" href="?page={{items.next_page_number}}" >{{items.next_page_number}}</a>
            </li>
            <li class="page_item">
                <a class="page_link" href="?page={{items.paginator.num_pages}}">Last &raquo;</a>
            </li>
            {% endif %}
        </ul>
      </nav>
    
    {% endblock %}

