{% extends 'commerce/layout.html' %}

{% block title %}
    GameOn: HomePage
{% endblock %}

{% block body %}
<div class="about-us">
    <div class="div">
      <footer class="footer">
        <img class="rectangle" src="img/rectangle-1.png" />
        <div class="overlap">
          <div class="text-wrapper">GIỚI THIỆU</div>
          <div class="text-wrapper-2">HỖ TRỢ KHÁCH HÀNG</div>
          <div class="text-wrapper-3">HÌNH THỨC THANH TOÁN</div>
          <div class="text-wrapper-4">CHÍNH SÁCH CHUNG</div>
        </div>
        <div class="overlap-group"><p class="p">Copyright@Bản quyền thuộc về Game On</p></div>
        <div class="group">
          <p class="text-wrapper-5">Giới thiệu về công ty</p>
          <div class="text-wrapper-6">Thông tin liên hệ</div>
          <div class="text-wrapper-7">Thông tin tuyển dụng</div>
          <div class="text-wrapper-8">Tin tức</div>
        </div>
        <div class="group-2">
          <p class="text-wrapper-9">Hướng dẫn mua hàng trực tuyến</p>
          <div class="text-wrapper-10">Hướng dẫn thanh toán</div>
          <p class="text-wrapper-11">Hướng dẫn mua hàng trả góp</p>
          <p class="text-wrapper-12">Tổng đài hỗ trợ trực tuyến</p>
          <div class="text-wrapper-13">Góp ý khiếu nại</div>
        </div>
        <div class="group-3">
          <div class="text-wrapper-9">Chính sách vận chuyển</div>
          <div class="text-wrapper-10">Chính sách bảo hành</div>
          <p class="text-wrapper-11">Chính sách đổi trả hoàn trả</p>
          <p class="text-wrapper-12">Chính sách cho doanh nghiệp</p>
          <p class="text-wrapper-13">Bảo mật thông tin khách hàng</p>
        </div>
        <div class="group-4">
          <p class="text-wrapper-14">Thanh toán trực tuyến(Internet Banking)</p>
          <p class="text-wrapper-15">Thanh toán khi nhận hàng</p>
        </div>
        <img class="logos-youtube-icon" src="img/logos-youtube-icon.svg" />
        <img class="skill-icons" src="img/skill-icons-instagram.svg" />
        <img class="logos-facebook" src="img/logos-facebook.svg" />
      </footer>
      <div class="overlap-2">
        <header class="header">
          <div class="overlap-3">
            <div class="overlap-4">
              <img class="GAME-ON-removebg" src="img/game-on-removebg-preview-2.png" />
              <div class="nav-bar">
                <div class="navbar-wrapper">
                  <div class="navbar">
                    <div class="component"><div class="text-wrapper-16">Trang chủ</div></div>
                    <div class="component-2">
                      <div class="text-wrapper-16">Về chúng tôi</div>
                      <img class="vector" src="img/vector-4.svg" />
                    </div>
                    <div class="component-3">
                      <div class="text-wrapper-17">Danh mục sản phẩm</div>
                      <img class="chevron-down" src="img/chevron-down.svg" />
                    </div>
                    <div class="div-wrapper"><div class="text-wrapper-16">Cộng đồng</div></div>
                    <div class="component-4"><div class="text-wrapper-16">Liên hệ</div></div>
                  </div>
                </div>
              </div>
            </div>
            <img class="img" src="img/group-3705.png" />
          </div>
        </header>
        <div class="content">
          <div class="magnifyingglass"><div class="magnifyingglass-2">􀊫</div></div>
          <div class="text-wrapper-18">Tìm kiếm sản phẩm</div>
        </div>
      </div>
      <div class="cu-chuyn-thng-hiu">
        <div class="group-banner">
          <img class="group-5" src="img/group-3.png" />
          <div class="overlap-5">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="rectangle-2"></div>
                <img class="group-6" src="img/group-2.png" />
                <img class="group-7" src="img/group-1.png" />
                <img class="frame" src="img/frame.svg" />
              </div>
            </div>
            <div class="auto-layout-vertical">
              <div class="auto-layout-vertical-2">
                <div class="ph-ng-th-c-tuy-n">Câu chuyện thương hiệu</div>
                <div class="rectangle-3"></div>
              </div>
              <p class="text-wrapper-19">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et
                dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
                ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et
                dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor
                incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-6">
        <div class="v-sao-chn">
          <div class="overlap-7">
            <img class="group-8" src="img/group.png" />
            <p class="text-wrapper-20">Tầm nhìn, sứ mệnh, giá trị cốt lõi</p>
            <div class="rectangle-4"></div>
            <img class="rectangle-5" src="img/rectangle-18.svg" />
            <div class="auto-layout-wrapper">
              <div class="auto-layout">
                <div class="group-9">
                  <div class="overlap-group-3">
                    <div class="overlap-8">
                      <div class="vector-wrapper"><img class="vector-2" src="img/vector-2.svg" /></div>
                      <div class="text-wrapper-21">Tầm nhìn</div>
                      <div class="union-wrapper"><img class="union" src="img/union-2.svg" /></div>
                    </div>
                    <p class="text-wrapper-22">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut
                      labore et dolore magna aliqua.Lorem ipsum dolor sit amet, con
                    </p>
                  </div>
                </div>
                <div class="group-9">
                  <div class="overlap-group-3">
                    <div class="overlap-group-4">
                      <div class="group-10"></div>
                      <div class="text-wrapper-23">Sứ mệnh</div>
                      <div class="img-wrapper"><img class="union-2" src="img/union-1.svg" /></div>
                    </div>
                    <p class="text-wrapper-24">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut
                      labore et dolore magna aliqua.Lorem ipsum dolor sit amet, con
                    </p>
                  </div>
                </div>
                <div class="group-9">
                  <div class="overlap-group-3">
                    <div class="overlap-group-5">
                      <div class="group-11"><img class="vector-2" src="img/vector.svg" /></div>
                      <div class="frame-2"><img class="union-2" src="img/union.svg" /></div>
                    </div>
                    <div class="text-wrapper-25">Giá trị cốt lõi</div>
                    <p class="text-wrapper-24">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut
                      labore et dolore magna aliqua.Lorem ipsum dolor sit amet, con
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-wrapper-26">Những con số ấn tượng</p>
      </div>
      <div class="counter">
        <div class="content-2">
          <div class="element">
            <p class="element-m"><span class="span">100</span> <span class="text-wrapper-27">M</span></p>
            <p class="text-wrapper-28">Lượt truy cập hàng tháng</p>
          </div>
          <div class="element-2">
            <p class="element-3"><span class="span">100 </span> <span class="text-wrapper-27">+</span></p>
            <div class="text-wrapper-29">Bài tin đăng</div>
          </div>
          <div class="element-4">
            <p class="element-k"><span class="span">98 </span> <span class="text-wrapper-27">k+</span></p>
            <p class="l-t-ng-i-ng-k-theo-d">Lượt người đăng ký, <br />theo dõi</p>
          </div>
          <div class="element-5">
            <p class="element-k-2"><span class="span">208 </span> <span class="text-wrapper-27">k+</span></p>
            <div class="text-wrapper-30">Lượt tương tác</div>
          </div>
        </div>
      </div>
      <div class="text-wrapper-31">Đội ngũ nhân viên</div>
      <p class="text-wrapper-32">
        Interdum ac tincidunt molestie facilisis. Nulla at erat odio bibendum diam quam. Scelerisque mus vel egestas
        justo, purus consequat nibh eget. Non risus feugiat porta integer.
      </p>
      <img class="ellipse" src="img/ellipse-56.png" />
      <img class="ellipse-2" src="img/ellipse-59.png" />
      <img class="ellipse-3" src="img/ellipse-57.png" />
      <img class="ellipse-4" src="img/ellipse-60.png" />
      <img class="ellipse-5" src="img/ellipse-58.png" />
      <div class="text-wrapper-33">Viverra ut potenti</div>
      <div class="text-wrapper-34">Viverra ut potenti</div>
      <div class="text-wrapper-35">Viverra ut potenti</div>
      <div class="text-wrapper-36">Viverra ut potenti</div>
      <div class="text-wrapper-37">Viverra ut potenti</div>
      <div class="text-wrapper-38">Phạm Nguyên Khả</div>
      <div class="text-wrapper-39">Cún Thế Ngọc</div>
      <div class="text-wrapper-40">Hoàng Thị Thu Lợi</div>
      <div class="text-wrapper-41">Lô Thị Kim Ngân</div>
      <div class="text-wrapper-42">Bùi Thị Hoàng Giang</div>
    </div>
  </div>

{% endblock %}

