<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <style type="text/css">
            ul {
                list-style-type: none;
                margin: 1;
                padding: 1;
                padding-top: 7px;
                padding-bottom: 5px;
            }
            li {
                display: inline-block;
                margin-top: 15px;
            }
            a:link, a:visited {font-weight: bold; color: #cc3ddc; background-color: #90e; text-align: center; padding: 6px;}
            a:hover, a:active {background-color: #ff1;}
        </style>
        <link href="loi_login.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="container">
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="container">
            <div class="login-form">
                <form action="" method="post">
                    <h1>Đăng nhập vào website</h1>
                    <div class="input-box">
                        <i ></i>
                        <input type="text" placeholder="Nhập username">
                    </div>
                    <div class="input-box">
                        <i ></i>
                        <input type="password" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            Đăng nhập
                        </button>
                    </div>
                </form>
            </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
