{% extends "commerce/layout.html" %}

{% block title %}GameOn: Login{% endblock title %}
{% block body %}
<div class="trang-login">
    <div class="div">
      <div class="group">
        <div class="overlap-group"><div class="text-wrapper">Đăng nhập</div></div>
      </div>
      <img class="GAME-ON-removebg" src="img/game-on-removebg-preview-1.png" />
      <div class="frame">
        <div class="headline"><div class="text-wrapper-2">ĐĂNG NHẬP</div></div>
        <div class="email-form">
          <div class="overlap-group-2"><p class="p">Nhập email/ số điện thoại</p></div>
          <p class="text-wrapper-3">Nhập email/ số điện thoại của bạn</p>
        </div>
        <div class="password-form">
          <div class="overlap-group-2">
            <p class="text-wrapper-4">Nhập mật khẩu của bạn</p>
            <img class="eye" src="img/eye.svg" />
          </div>
          <p class="text-wrapper-5">Nhập mật khẩu của bạn</p>
        </div>
        <div class="remember-forgot"><div class="text-wrapper-6">Quên mật khẩu?</div></div>
        <div class="sign-in-button">
          <div class="overlap"><div class="text-wrapper-7">Đăng nhập</div></div>
        </div>
        <div class="text-wrapper-8">Hoặc đăng nhập với</div>
        <div class="overlap-wrapper">
          <div class="overlap-2">
            <div class="text-wrapper-9">Google</div>
            <img class="free-icon-google" src="img/free-icon-google-300221-1.png" />
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-2">
            <img class="bi-facebook" src="img/bi-facebook.svg" />
            <div class="text-wrapper-10">Facebook</div>
          </div>
        </div>
        <div class="text-wrapper-11">Chưa có tài khoản?</div>
        <div class="text-wrapper-12">Đăng ký</div>
      </div>
    </div>
</div>
{% endblock body %}