{% extends "commerce/layout.html" %}

{% block title %}GameOn: register{% endblock title %}
{% block body %}
<div class="trang-register">
    <div class="div">
      <div class="frame">
        <div class="headline"><div class="ng-k">ĐĂNG KÝ</div></div>
        <div class="email-form">
          <div class="overlap-group"><p class="text-wrapper">Nhập họ và tên của bạn</p></div>
          <div class="text-wrapper-2">Họ và tên</div>
        </div>
        <div class="password-form">
          <div class="overlap"><p class="p">Nhập email/ số điện thoại</p></div>
          <p class="text-wrapper-3">Nhập email/ số điện thoại của bạn</p>
        </div>
        <div class="password-form-2">
          <div class="overlap-2">
            <p class="text-wrapper-4">Nhập mật khẩu của bạn</p>
            <img class="eye" src="img/eye.svg" />
          </div>
          <p class="text-wrapper-5">Nhập mật khẩu của bạn</p>
        </div>
        <div class="password-form-3">
          <div class="overlap">
            <p class="text-wrapper-6">Nhập lại mật khẩu của bạn</p>
            <img class="img" src="img/eye-1.svg" />
          </div>
          <p class="text-wrapper-7">Nhập lại mật khẩu của bạn</p>
        </div>
        <div class="sign-in-button">
          <div class="div-wrapper"><div class="text-wrapper-8">Tạo tài khoản</div></div>
        </div>
        <p class="text-wrapper-9">Hoặc tạo tài khoản với</p>
        <div class="group">
          <div class="overlap-3">
            <div class="text-wrapper-10">Google</div>
            <img class="free-icon-google" src="img/free-icon-google-300221-1.png" />
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-3">
            <img class="bi-facebook" src="img/bi-facebook.svg" />
            <div class="text-wrapper-11">Facebook</div>
          </div>
        </div>
        <p class="text-wrapper-12">Bạn đã có tài khoản?</p>
        <div class="text-wrapper-13">Đăng nhập</div>
        <div class="remember-forgot">
          <p class="b-ng-vi-c-t-o-t-i">
            <span class="span">Bằng việc tạo tài khoản mới, bạn đồng ý với GameOn về </span>
            <span class="text-wrapper-14">Điều khoản dịch vụ</span>
            <span class="span"> &amp; </span>
            <span class="text-wrapper-14">Chính sách bảo mật</span>
          </p>
          <div class="rectangle"></div>
        </div>
      </div>
      <div class="overlap-group-wrapper">
        <div class="overlap-4"><div class="text-wrapper-15">Đăng ký</div></div>
      </div>
      <img class="GAME-ON-removebg" src="img/game-on-removebg-preview-1.png" />
    </div>
  </div>
{% endblock body %}


