<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website GameOn</title>
    <link rel="stylesheet" href="ngan_HomePage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <a href="#">GameOn</a>
            </div>
            <div class="address">
                <a href="#" class="deliver">Deliver</a>
                <div class="map-icon">
                    <span class="material-symbols-outlined">location_on</span>
                    <a href="#" class="location">Map</a>
                </div>
            </div>

            <div class="nav-search">
                <select class="select-search">
                    <option>All</option>
                    <option>All Categories</option>
                    <option>Deals hot</option>
                </select>
                <input type="text" placeholder="Search GameOn" class="search-input">
                <div class="search-icon">
                    <span class="material-symbols-outlined">search</span>
                </div>
            </div>

            <button class="button_login">Login</button>

            <button class="button_signup">Signup</button>

            <div class="cart">
                <a href="#">
                    <span class="material-symbols-outlined cart-icon">shopping_cart</span>
                </a>
                <p>Cart</p>
            </div>
        </nav>

        <div class="banner">
            <div class="banner-content">
                <i class="bx bx-menu"></i>

                <div class="nav-links">
                    <ul class="linksbar">
                        <li><a href="#">Home</a></li>
                        <li>
                            <a href="#">Category</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="#">Card Game</a></li>
                                <li><a href="#">Puzzle Game</a></li>
                                <li><a href="#">Chess</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Today's Deals</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Gift Cards</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Home -->
    <section class="hero-section">
        <div class="container">
            <span class="close-btn material-symbols-rounded">close</span>
            <header>Signup Form</header>
            <div class="progress-bar">
                <div class="step">
                    <p>
                        Name
                    </p>
                    <div class="bullet">
                        <span>1</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>
                        Contact
                    </p>
                    <div class="bullet">
                        <span>2</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>
                        Birth
                    </p>
                    <div class="bullet">
                        <span>3</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>
                        Submit
                    </p>
                    <div class="bullet">
                        <span>4</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
            </div>
            <div class="form-outer">
                <form action="#">
                    <div class="page slide-page">
                        <div class="title">
                            Basic Info:
                        </div>
                        <div class="field">
                            <div class="label">
                                First Name
                            </div>
                            <input type="text">
                        </div>
                        <div class="field">
                            <div class="label">
                                Last Name
                            </div>
                            <input type="text">
                        </div>
                        <div class="field">
                            <button class="firstNext next">Next</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">
                            Contact Info:
                        </div>
                        <div class="field">
                            <div class="label">
                                Email Address
                            </div>
                            <input type="text">
                        </div>
                        <div class="field">
                            <div class="label">
                                Phone Number
                            </div>
                            <input type="Number">
                        </div>
                        <div class="field btns">
                            <button class="prev-1 prev">Previous</button>
                            <button class="next-1 next">Next</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">
                            Date of Birth:
                        </div>
                        <div class="field">
                            <div class="label">
                                Date
                            </div>
                            <input type="text">
                        </div>
                        <div class="field">
                            <div class="label">
                                Gender
                            </div>
                            <select>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="field btns">
                            <button class="prev-2 prev">Previous</button>
                            <button class="next-2 next">Next</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">
                            Login Details:
                        </div>
                        <div class="field">
                            <div class="label">
                                Username
                            </div>
                            <input type="text">
                        </div>
                        <div class="field">
                            <div class="label">
                                Password
                            </div>
                            <input type="password">
                        </div>
                        <div class="field btns">
                            <button class="prev-3 prev">Previous</button>
                            <button class="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <a href="#" class="footer-title">
            Back to top
        </a>
        <div class="footer-items">
            <ul>
                <h3>Get to Know Us</h3>
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Flash Sales</a></li>
                <li><a href="#">Security policy</a></li>
            </ul>
            <ul>
                <h3>Connect with Us</h3>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
            <ul>
                <h3>Payment</h3>
                <h3>Shipping unit</h3>
            </ul>
            <ul>
                <h3>Let Us Help You</h3>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Return Centre</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </footer>
    <script src="ngan_HomePage.js"></script>
</body>
</html>