@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

    a:hover {
        color: #ddd;
    }

/* Header or Navbar */
header {
    width: 100%;
    background-color: #0f1111;
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

    .navbar .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        display: none;
        color: #000;
        cursor: pointer;
    }

.nav-logo img {
    margin-top: 10px;
    width: 128px;
}

.address .deliver {
    margin-left: 20px;
    font-size: 0.75rem;
    color: #ccc;
}

.address .map-icon {
    display: flex;
    align-items: center;
}


.nav-search {
    display: flex;
    justify-content: space-evenly;
    max-width: 620px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.select-search {
    background: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    max-width: 600px;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search-icon {
    max-width: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #febd68;
    color: #000;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.cart {
    display: flex;
}

    .cart .cart-icon {
        font-size: 2.5rem
    }

    .cart p {
        margin-top: 20px;
        font-weight: 500;
    }

.links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    flex-grow: 1;
    margin-left: 15px;
}

    .links a {
        padding: 10px 0;
    }

.deals a {
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
}
/*Banner*/
.banner {
    padding: 10px 20px;
    background: #222f3d;
    color: #fff;
    font-size: 0.875rem;
}

.banner-content {
    margin: 0 auto;
    max-width: 1280px;
}

.banner.nav-links {
    line-height: 50px;
    height: 100%;
}

.banner.linksbar {
    display: flow-root;
}

    .banner .linksbar li {
        display: inline-table;
        list-style: none;
        padding: 0 14px;
    }

        .banner .linksbar li a {
            height: 100%;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }

        .banner .linksbar li:hover .htmlcss-arrow,
        .banner .linksbar li:hover .js-arrow {
            transform: rotate(180deg);
        }

        .banner .linksbar li .arrow {
            height: 100%;
            width: 22px;
            line-height: 50px;
            text-align: center;
            display: inline-flex;
            color: #fff;
            transition: all 0.3s ease;
        }

        .banner .linksbar li .sub-menu {
            top: 100%;
            left: 0;
            line-height: 40px;
            background: #febd68;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 4px 4px;
            display: none;
            z-index: 2;
        }

        .banner .linksbar li a:hover {
            color: chocolate;
        }

        .banner .linksbar li:hover .htmlCss-sub-menu,
        .banner .linksbar li:hover .js-sub-menu {
            display: block;
        }

        .banner .linksbar li .sub-menu li {
            padding: 0 22px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        .banner .linksbar li .sub-menu a {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
        }

        .banner .linksbar li .sub-menu li :hover {
            color: chocolate;
        }

.banner .nav-links .sidebar-logo {
    display: none;
}

.banner .bx-menu {
    display: none;
}

/*Button*/
.button_login,
.button_signup {
    color: #fff;
}

.button_login,
.button_signup {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

    .button_login:active {
        transform: scale(0.98);
    }

    .button_signup:active {
        transform: scale(0.98);
    }

    .button_login:hover {
        background: #222f3d;
    }

    .button_signup:hover {
        background: #222f3d;
    }

/* Hero Section */
.hero-section {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("image/BG.jpg");
    background-position: center;
    background-size: cover;
}

    .hero-section::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-out;
    }

/* Register*/
.container {
    width: 350px;
    height: 500px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 20px 35px 10px 35px;
    opacity: 0;
    pointer-events: none;
}

    .container header {
        font-size: 30px;
        font-weight: 500;
        background: #5e3071;
        color: black;
        margin: 0 0 30px 0;
    }

    .container .form-outer {
        width: 100%;
        overflow: hidden;
    }

        .container .form-outer form {
            display: flex;
            width: 400%;
        }

.show .container {
    opacity: 1;
    pointer-events: auto;
}

.container.active {
    display: none;
}

.container .close-btn {
    position: absolute;
    top: 12px;
    color: #878484;
    cursor: pointer;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

    .form-outer form .page .title {
        text-align: left;
        font-size: 25px;
        font-weight: 500;
    }

    .form-outer form .page .field {
        width: 280px;
        height: 40px;
        margin: 40px 0;
        display: flex;
        position: relative;
    }

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
}

form .page .field select {
    width: 100%;
    padding-left: 7px;
    font-size: 17px;
    font-weight: 500;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #5e3071;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

    form .page .field button:hover {
        background: #000;
    }

form .page .btns button {
    margin-top: -20px !important;
}

    form .page .btns button.prev {
        margin-right: 3px;
        font-size: 17px;
    }

    form .page .btns button.next {
        margin-left: 3px;
    }

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

    .container .progress-bar .step {
        text-align: center;
        width: 100%;
        position: relative;
    }

        .container .progress-bar .step p {
            font-weight: 500;
            font-size: 18px;
            color: #000;
            margin-bottom: 8px;
        }

.progress-bar .step .bullet {
    height: 20px;
    width: 20px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

    .progress-bar .step .bullet.active {
        border-color: #d43f8d;
        background: #d43f8d;
    }

    .progress-bar .step .bullet span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .progress-bar .step .bullet.active span {
        display: none;
    }

    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after {
        position: absolute;
        content: '';
        bottom: 9px;
        right: -41px;
        height: 3px;
        width: 34px;
        background: #262626;
    }

    .progress-bar .step .bullet.active:after {
        background: #d43f8d;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.3s linear forwards;
    }

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #d43f8d;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

    .progress-bar .step .check.active {
        display: block;
        color: #fff;
    }

/* Footer */
.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
}

.footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #232f3e;
}

    .footer-items h3 {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        margin: 20px 0 10px 0;
    }

    .footer-items ul {
        list-style: none;
        margin-bottom: 20px;
    }

    .footer-items li a {
        color: #ddd;
        font-size: 0.875rem;
    }

        .footer-items li a:hover {
            text-decoration: underline;
        }
