<!DOCTYPE html>
<html>
<head>
  <title>Trang web của tôi</title>
  <link  href ="stylesheet" href="main.css">
  <link  href ="stylesheet" href="base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="auth-form">
    <div class ="auth-form_container">
    <div class ="auth-form_header">
        <h3 class="auth-form_heading">Đăng ký</h3>
        <span class ="auth-form_switch-btn">Đăng nhập</span>
    </div>
    <div class ="auth-form_form">
        <div class="auth-form_group">
            <input type="text" class ="auth-form_input" placeholder ="Email của bạn">
        </div>
        <div class="auth-form_group">
            <input type="password" class ="auth-form_input" placeholder="Mật khẩu của bạn">
            <div class="auth-form_group">
                <input type="password" class ="auth-form_input" placeholder=" Nhập lại mật khẩu của bạn">
        </div>
    </div>
    <div class class="auth-form_aside">
        <p class ="auth-form_policy-text">
            Bằng việc đăng kí , bạn đã đồng ý với chúng tôi về 
            <a href="" class ="auth-form_text-link">Điều khoản dịch vụ </a>&
            <a href="" class ="auth-form_text-link">Chính sách bảo mật</a>
        </p>
    </div>
    <div class="auth-form_controls">
        <button class ="btn">TRỞ LẠI</button>
        <button class ="btn btn--primary">ĐĂNG KÝ</button>

    </div>
    
</div>
    </div>
</div>   
  
  

</body>
</html>
