{% extends "commerce/layout.html" %}


{% block body %}
    <div className="trang-thanh-ton">
      <div className="div">
        <div className="thng-tin-n-hng">
          <div className="frame">
            <div className="text-wrapper">Thông tin đơn hàng</div>
            <div className="overlap">
              <div className="frame-2">
                <div className="text-wrapper-2">Bộ thẻ bài UNO</div>
                <div className="group">
                  <div className="group-2">
                    <div className="total-price">
                      <div className="content">
                        <div className="text-wrapper-3">Tổng giá trị</div>
                        <div className="text-wrapper-4">40.000</div>
                      </div>
                      <div className="divider" />
                      <div className="content-2">
                        <div className="text-wrapper-3">Phí ship</div>
                        <div className="text-wrapper-5">16.000</div>
                      </div>
                      <div className="overlap-group">
                        <div className="div-wrapper">
                          <div className="text-wrapper-3">Mã giảm giá</div>
                        </div>
                        <div className="divider-2" />
                      </div>
                      <div className="divider-3" />
                    </div>
                    <div className="content-3">
                      <div className="text-wrapper-3">Giá trị đơn hàng</div>
                      <div className="text-wrapper-6">56.000</div>
                    </div>
                  </div>
                  <div className="group-3">
                    <div className="text-wrapper-7">Mã khuyến mãi</div>
                    <div className="rectangle" />
                    <div className="overlap-group-wrapper">
                      <div className="overlap-group-2">
                        <div className="text-wrapper-8">Áp dụng</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div className="text-wrapper-9">1</div>
              </div>
              <div className="price">
                <div className="text-wrapper-10">40.000</div>
              </div>
              <div className="group-4">
                <div className="overlap-2">
                  <img className="img" alt="Rectangle" src="rectangle-24.svg" />
                  <div className="text-wrapper-11">THANH TOÁN 56.000</div>
                </div>
                <div className="text">{""}</div>
              </div>
            </div>
          </div>
        </div>
        <div className="thng-tin-khch-hng">
          <div className="frame-3">
            <div className="overlap-group-3">
              <div className="text-wrapper-12">Thông tin khách hàng</div>
              <div className="text-wrapper-13">Họ và tên</div>
            </div>
            <div className="backplate" />
            <div className="backplate-2" />
            <div className="backplate-3" />
            <div className="text-wrapper-14">Email</div>
            <div className="text-wrapper-15">Số điện thoại</div>
          </div>
        </div>
        <div className="a-ch-giao-hng">
          <div className="frame-3">
            <div className="overlap-group-4">
              <div className="text-wrapper-12">Địa chỉ giao hàng</div>
              <div className="text-wrapper-16">Tỉnh/thành phố</div>
            </div>
            <div className="backplate-4" />
            <div className="backplate-5" />
            <div className="text-wrapper-17">Địa chỉ cụ thể</div>
            <div className="backplate-6" />
            <div className="text-wrapper-18">Quận/huyện</div>
          </div>
        </div>
        <div className="phng-thc-thanh-ton">
          <div className="frame-4">
            <div className="text-wrapper-19">Phương thức thanh toán</div>
            <div className="group-5">
              <div className="ellipse-wrapper">
                <img className="ellipse" alt="Ellipse" src="ellipse-9.svg" />
              </div>
              <p className="p">Thanh toán khi nhận hàng</p>
              <div className="ellipse-2" />
              <div className="text-wrapper-20">Chuyển khoản ngân hàng</div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
